{% set ifElseVar = "b" %}
{% set definedVar = "DesistDaydream" %}
{% set region = "bj" %}
{% set int_1,int_2 = 1,2 %}

{# 最简单的 if 表达式 #}
{% if ifElseVar %}
message: '测试变量 definedVar 是否已定义。若已定义，则输出本行内容'
{% endif %}

{# 复杂的 if...elseif...else... 表达式，并在 if 的条件与剧中进行比较运算 #}
{% if ifElseVar == "a"  %}
message: 这是一个最基本的 if else 控制结构。ifElseVar 变量的值为 a 时输出本行
{% elif ifElseVar == "b" %}
message: ifElseVar 变量的值为 b 时输出本行
{% else %}
message: ifElseVar 变量的值既不是 a 也不是 b 时输出本行
{% endif %}

{# 在 if 的条件语句中进行运算 #}
{% if int_1 + int_2 == 3 %}
在条件语句中直接执行算术运算，判断 {{ int_1 }} + {{ int_2 }} 的结果是否等于 3
{% endif %}

{# 多条件判断只能这么写？不能用正则么？~~o(╯□╰)o #}
{% if region == "tj" or region == "bj" %}
message: 当前区域为 {{ region }}
{% endif %}

{# 下面是 Jinja 的 is 运算符用来进行测试的示例 #}
{% if definedVar is defined %}
message: 使用 is 运算符测试变量 definedVar 是否已定义。若已定义，则输出本行内容
{% endif %}

{% if undefinedVar is undefined %}
message: 使用 is 运算符测试变量 definedVar 是否未定义。若未定义，则输出本行内容
{% endif %}

{% if definedVar is regex("D|d|z") %}
message: 使用 is 运算符测试，如果变量 definedVar 中包含 D、d、z 三个字符中任意一个，则输出本行内容
{% endif%}
